@model string

@{
    //string[] names = (string[])ViewData["names"];

    //int[] nums = ViewBag.numbers;

    string name = "salam";
}

@*@foreach (var item in nums)
{
    <h1>@item</h1>
}*@

@*
@foreach (var item in Model)
{
    <span>@item</span>
}
*@

<h1>@name</h1>